* {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Roboto' 'light' 'moon';
}

body {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom:2px solid #ffffff;
    font-family: 'light';
}

.social-links {
    display: flex;
    padding: 2px;
    gap: 20px;
    font-size: 20px;
    flex: 0 1 auto;
    margin-right: 20px;
}

.github,
.discord {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 2px;
}

a:link {text-decoration: none;}
a:hover {font-size: 24px; color:rgb(0, 0, 0);}
A:hover{text-decoration: overline;}









/* Animated background */ 
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* Fonts */
@font-face {
    font-family:'roboto';
    src: url(font/Roboto-Italic.ttf);
}
@font-face {
    font-family: "light" ;
    src: url(font/Roboto-Light.ttf);
}
@font-face {
    font-family:"moon" ;
    src: url(font/Moon2.0-Regular.otf);
}



/* Mobile view */

@media only screen and (max-device-width: 1000px) {
    body {
        height: 100vh;
        display: flex;
        flex-flow: column wrap;
    }

    .header {
        display: flex;
        flex-flow: column;
        flex: 0 1 auto;
        align-items: center;
    }

    .sd-left {
        display: flex;
        width: 100%;
        flex: 1 1 100%;
        justify-content:center;
    }
}